/* styles.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #1b1b1b; /* Cor de fundo do header */
}

.logo img {
    height: 60px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
    margin-left: 20px;
}

.menu-icon img {
    height: 60px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer; /* Indica que é clicável */
    margin-right: 20px;
}

.page_title {
    position: relative;
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    text-align: center;
}

body {
    background-color: black;
    color: white; /* Ajuste a cor do texto para branco para garantir que seja legível no fundo preto */
    margin: 0; /* Remove a margem padrão do navegador */
    font-family: Arial, sans-serif; /* Define uma fonte padrão para a página */
}

.return {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    margin-left: 20px;    
}

.return:hover {
    text-decoration: bold; 
    color: rgb(255, 225, 0);
    text-shadow: none;
}

.title {
    text-align: center;
    font-size: 13.54tfg5tvcrcpx;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-top: -40px;
}

.container {
    position: relative;
    height: 300px; /* Altura do contêiner */
    margin-top: -22%;
    z-index: 1; 
}

.img1 {
    position: absolute;
    top: 1%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: auto;
    }

.img2 {
    position: absolute;
    top: 1%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: auto;
    }

.menu {
    font-size: 15px;
    text-align: center;
    margin-top: 30px; /* Adiciona espaço entre o header e o menu */
    margin-bottom: 30px;
    position: relative; 
    z-index: 2; 
}

.menu nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Empilhe os itens verticalmente */
    align-items: center; /* Centralize os itens horizontalmente */
}

.menu nav ul li {
    margin-bottom: 10px; /* Adicione espaçamento entre os itens */
}

.menu nav ul li a {
    color: white;
    text-decoration: none;
    position: relative; 
    z-index: 3; 
}

.menu nav ul li a:hover {
    text-decoration: underline;
    color: #4CAF50;
}

footer {
    background-color: #1b1b1b;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #333;
    margin-top: auto; /* Coloca o footer no final da viewport */
    width: 100%; /* Garante que o footer tenha 100% da largura */
    box-sizing: border-box; /* Inclui as bordas e os preenchimentos na largura total */
    margin-top: 10px; /* Adiciona uma margem superior para separar o footer do header */
}

.footer-section {
    margin-bottom: 10px;
}

.footer-contact a {
    color: #4CAF50; /* Cor do link de contato */
    text-decoration: none; /* Remove sublinhado do link */
}

.footer-contact a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao link quando hover */
}